/* Font */
*.montserrat-main {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 48;
    font-style: normal;
}
h1, h2, h3, .h1, .h2, .h3{
    
    font-family: "Archivo Black", sans-serif;
    font-weight: 100;
    font-style: normal;
    
}
/* Colori */
:root{
    --w: rgb(255, 255, 255);
    --y: rgb(255, 255, 0);
    --P: rgb(21, 14, 61);

}
.w-color{
    color: var(--w);}

.y-color{
    color: var(--y);
}
.p-color{
    color: var(--p);
}

/* Header */
header{
    width: 100%;
    height: 150vh;
    background-image: url(./media/bg-1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* Logo */
.logo-a{
    width: 15%;
}
.t1{
    font-size: medium;
    width: 85%;
    margin-top: 100px;
    

}
.t2{
    display: inline;
}
.t3{
    margin-left: 100px;
}
/* Game Arcade */
.game-arcade{
    position: absolute;
    right: 100px;
    top: 70px;
    width: 32.5%;
}
/* Button */
.button-custom {
    height: 70px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    position: relative;
    color: var(--y);
    border: 2px solid var(--y);
    border-radius: 30px;
    font-size: 1rem;  
}
/* Section Basi */
.s-basi{
    height: 85vh;
    width: 226vh;
    background-color: var(--P);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    

    
}
/* Section Form */
.s-form{
    background-image: url(./media/bg-2.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0 0 0;
    
    
}
.t-form{
    top: 50px;
    font-size: 2rem;
}
.b-form{
    background-color: var(--P);
    border-radius: 3%;
    margin-bottom: 30px;
}
.b-icon{
    background-color: var(--y);
}
@media only screen and (min-width: 992px){


header{
    height: 165vh;
    margin-top: auto;
    margin-bottom: auto;
  

}
}
.t3{
    font-size: 2rem;
 }
 .t2{
    font-size: 2rem;
 }
 .t1{
    font-size: 1rem;
 }
 